<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<f:flashMessages />
<f:if condition="{settings.consent.height}">
	<f:then>
		<f:variable name="minHeight">{settings.consent.height}px</f:variable>
	</f:then>
	<f:else>
		<f:variable name="minHeight">100%</f:variable>
	</f:else>
</f:if>

<div id="content-{settings.consent.contentByUid}" class="mainframe w-100 card border-0 rounded-0{f:if(condition: settings.consent.autoSize, then: ' {settings.consent.autoSize}')}{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}" style="min-height:{minHeight}" data-hash="{hash}" data-removeratio="{settings.consent.removeRatio}">
<f:if condition="{contentConsent}">
	<f:then>
		<f:cObject typoscriptObjectPath="lib.contentByUid" data="{settings.consent.contentByUid}" />
		<f:if condition="{settings.consent.autoSize} && {settings.consent.removeRatio}">
			<f:asset.script identifier="vanilla-contentConsent-{settings.consent.contentByUid}">
	// EXT:content_consent content-{settings.consent.contentByUid}
	let resultContainer = document.getElementById('content-{settings.consent.contentByUid}');
	resultContainer.classList.remove('ratio');
			</f:asset.script>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{settings.consent.contentByUid}">
			<f:then>
				<f:asset.script identifier="t3s-contentConsent" src="EXT:content_consent/Resources/Public/Scripts/contentconsent.js" />
				<f:asset.script identifier="vanilla-contentConsent-{settings.consent.contentByUid}">
				<f:alias map="{ocb: '{', ccb: '}'}">
	// EXT:content_consent content-{settings.consent.contentByUid}
	document.addEventListener('click', function (event) {ocb}
	if (!event.target.matches('#trigger-button-{settings.consent.contentByUid}')) return;
	event.preventDefault();
	ajaxConsentCall({settings.consent.contentByUid}, {currentRecord}, {settings.consent.cookie});
	{ccb}, false);
				</f:alias>
				</f:asset.script>
				<f:if condition="{customThumbnail}">
					<f:then>
						<div class="t3s-content-consent"
						 style="background: url({f:uri.image(image: '{customThumbnail}')}) no-repeat center; background-size: cover;min-height:{minHeight}">
							<f:render section="Overlay" arguments="{_all}" />
						</div>
					</f:then>
					<f:else>
						<f:if condition="{defaultThumbnail.originalFile.contents} && {type} == 4">
							<f:then>
								<f:if condition="{extension} == 'vimeo'">
									<f:then>
										<f:variable name="videoThumbnail">'https://vumbnail.com/{defaultThumbnail.originalFile.contents}.jpg'</f:variable>
									</f:then>
									<f:else>
										<f:variable name="videoThumbnail">'https://img.youtube.com/vi/{defaultThumbnail.originalFile.contents}/0.jpg'</f:variable>
									</f:else>
								</f:if>
								<div class="t3s-content-consent{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}"
								  style="background: url({videoThumbnail}) no-repeat center; background-size: cover; min-height:{minHeight}">
									<f:render section="Overlay" arguments="{_all}" />
								</div>
							</f:then>
							<f:else>
								<f:if condition="{defaultThumbnail.originalFile.properties.identifier}">
									<f:then>
										<div class="t3s-content-consent{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}"
										 style="background: url({f:uri.image(image: '{defaultThumbnail}')}) no-repeat center; background-size: cover;
										min-height:{minHeight}">
											<f:render section="Overlay" arguments="{_all}" />
										</div>
									</f:then>
									<f:else>
										<div class="t3s-content-consent{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}"
										 style="min-height:{minHeight}">
											<f:render section="Overlay" arguments="{_all}" />
										</div>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<div class="alert alert-danger" role="alert">
					No content is selected to be loaded!
				</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>
</div>
</f:section>
</html>


<f:section name="Overlay">
<div class="card-img-overlay d-flex">
	<div class="align-self-center w-100">
		<f:if condition="{settings.consent.text}">
			<div class="bodytext text-center">
				{settings.consent.text -> f:format.html()}
			</div>
		</f:if>
		<div class="d-flex">
			<button
				id="trigger-button-{settings.consent.contentByUid}"
				class="btn btn-md btn-{settings.consent.buttonStyle} mx-auto consent-btn"
				type="button"
				data-url="{f:uri.action(action: 'ajax', controller: 'Consent', pluginName: 'All', pageType:'{typeNum}')}"
			>
				{settings.consent.button}
			</button>
		</div>
	</div>
</div>
</f:section>

